
.home-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #ff5733 0%, #f39c12 100%); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}


.home-container h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); 
  color: #fff;
}


.home-container p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'Arial', sans-serif;
}


.home-container .btn-primary {
  background-color: #ff5733; 
  border: none;
  padding: 15px 25px;
  border-radius: 30px; 
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease; 
  cursor: pointer;
}

.home-container .btn-primary:hover {
  background-color: #e64a19; 
  color: white;
}


.home-container .btn-link {
  font-size: 1.25rem;
  color: #f7b42c; 
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease; 
}

.home-container .btn-link:hover {
  color: #ffcc33; 
  text-decoration: none;
}


.home-container .btn-primary:focus, 
.home-container .btn-link:focus {
  outline: none; 
}

.container {
  padding: 20px;
}


/* Ajustes generales para el contenedor */
.banner-container {
  width: 100%;
  height: auto; /* Eliminar altura fija para evitar el recorte */
}

/* Media Query para móviles */
@media (max-width: 768px) {
  .banner-container {
    height: auto;  /* Deja que la imagen se ajuste automáticamente en móviles */
  }

  .banner-img {
    width: 100%;
    height: auto;  /* Ajusta la altura de la imagen para evitar recortes */
  }
}

/* Media Query para pantallas grandes */
@media (min-width: 769px) {
  .banner-container {
    height: auto;  /* Ajuste automático en pantallas grandes */
  }

  .banner-img {
    width: 100%;
    height: auto;  /* Sin recorte en pantallas grandes */
  }
}


/* Estilo de cada card */
.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff; 
  min-height: 400px; 
}




.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
  display: block;
  margin: 0 auto; 
}



.card-body {
  padding: 20px;
  background-color: #f8f9fa; 
}


.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2a5298; 
  margin-bottom: 10px;
}


.card-text {
  color: #333;
  font-size: 1rem;
  margin-bottom: 15px;
}


.card .btn-primary {
  background-color: #f39c12; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.card .btn-primary:hover {
  background-color: #e74c3c; 
  color: white;
}

.card-body {
  background-color: #fff; }
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}